Options +FollowSymLinks
IndexIgnore */*
# Turn on the RewriteEngine
RewriteEngine On
#  Rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

#RewriteEngine on
#RewriteOptions inherit

#RewriteCond %{REQUEST_URI} !(\.\w+)$
#RewriteRule (.+)/?$ index.php?p1=$1 [QSA,L,NS]
#RewriteRule (.+)/(.+)/?$ index.php?p1=$1&p2=$2 [QSA,L,NS]